.book-history-item {
  height: fit-content;
  width: 100%;
  border-bottom: 1px solid var(--divider);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
}

@media screen and (max-width: 830px) {
  .book-history-item {
    flex-direction: column;
    gap: 10px;
  }
}

.book-history-item-group {
  width: 49%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-history-item-group p {
  font-size: 1rem;
}

@media screen and (max-width: 830px) {
  .book-history-item-group {
    width: 100%;
  }
}

.yes {
  color: var(--book-available-status);
}

.no {
  color: var(--book-unavailable-status);
}