.update-user-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-user-input-group {
  width: 100%;
  height: fit-content;
  margin-bottom: 16px;
  position: relative;
}

.update-user-input-container {
  display: flex;
  align-items: center;
}

.update-user-input {
  height: 2.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 2px;
  padding-left: 8px;
  background-color: var(--form-input-bg);
  border: 2px solid var(--form-input-bd);
  border-radius: 8px;
}

.update-user-input:disabled {
  color: var(--form-input-placeholder-txt);
  background-color: var(--form-input-bg);
}

.update-user-input:focus {
  outline: none;
}

.profile-button {
  width: 80%;
  height: 2.5rem;
  font-size: 1.25rem;
  border-radius: 12px;
  border: none;
  background-color: var(--content-btn);
  margin-top: 16px;
}

.profile-button:hover {
  cursor: pointer;
  background-color: var(--content-btn-hover);
}