.library-hours {
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--secondary-bg);
  box-shadow: var(--box-shadow);
}

.library-hours-table table {
  border-collapse: collapse;
  width: 100%;
}

#hours tr {
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
}

#hours tr:nth-child(even) {
  background-color: var(--even-hrs-table-rows);
}

#hours tr:nth-child(odd) {
  background-color: var(--odd-hrs-table-rows);
}

#hours td {
  font-size: 1.10rem;
}