.catalog-overview-section {
  width: 100%;
  height: 500px;
}

.catalog-overview-section-top {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-overview-section-more {
  border: none;
  border-radius: 12px;
  background-color: var(--content-btn);
  padding: 0.5rem 1rem;
}

.catalog-overview-section-more:hover {
  cursor: pointer;
  background-color: var(--content-btn-hover);
}