.upcoming-events {
  width: 98%;
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--background-secondary);
  margin-top: 1rem;
}

@media screen and (max-width: 1070px) {
  .upcoming-events {
    width: 100%;
  }
}

.upcoming-events-header-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}