.book-of-the-week {
  width: 98%;
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: var(--background-secondary);
  background-color: var(--background-secondary);
}

@media screen and (max-width: 1070px) {
  .book-of-the-week {
    width: 100%;
  }
}

.staging-featured-book {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: top;
}