.get-library-card {
  width: 98%;
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--secondary-bg);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1070px) {
  .get-library-card {
    width: 100%;
  }
}

.get-library-card-img {
  width: 50%;
  margin-bottom: 16px;
}

.get-library-card-link {
  color: var(--hyperlink);
  cursor: pointer;
  text-decoration: underline;
}