/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Website colors */
:root {
  --site-bar: #26b605;
  --site-logo: #f7bd2f;
  --nav-btn: #b0dd6f;
  --nav-btn-hover: #d4eeb5;
  --primary-bg: #eef0f2;
  --secondary-bg: #f3f3f3;
  --heading-txt: #2038b0;
  --body-txt: #1c120c;
  --hyperlink: #0000ff;
  --form-input-bg: #f0f0f0;
  --form-input-bd: #244677;
  --form-input-placeholder-txt: #7a7978;
  --even-hrs-table-rows: #d7f8eb;
  --odd-hrs-table-rows: #dceef0;
  --divider: rgba(122, 121, 120, .8);
  --box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
  --modal-bg: rgba(0,0,0,0.2);
  --exit-modal-btn: #090808;
  --exit-modal-btn-hover: #9f1313;
  --exit-modal-txt: #eeeeee;
  --form-error-msg: #ec2f3b;
  --content-btn: #0099cc;
  --content-btn-hover: #66c0f4;
  --book-available-status: #3cb043;
  --book-unavailable-status: #cb4c4e;
  --book-available-status-hover: #77d17d;
  --book-unavailable-status-hover: #e8797a;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', san-serif;
  background-color: var(--primary-bg);
  color: var(--body-txt);
}

/* Reset global css */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4 {
  color: var(--heading-txt);
}

p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

#root, #_next {
  isolation: isolate;
}

p {
  font-size: 1.10rem;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  p {
    font-size: 1rem;
  }
}

.page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: 75%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 1200px) {
  .page-container {
    width: 100%;
  }
}

/* Used in loading components and for if loading fails */
.staging-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}