.catalog-search-page-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.catalog-search-page-navigator-navigate {
  cursor: pointer;
  margin: 0 8px;
}

.catalog-search-page-navigator-navigate:hover {
  text-decoration: underline;
}

.catalog-search-page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
}

.catalog-search-page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 0 8px;
}

.number-active {
  background-color: var(--content-btn);
}

.catalog-search-page-number:hover {
  background-color: var(--content-btn-hover);
}

.number-active,
.catalog-search-page-number:hover {
  border-radius: 30px;
}