.book-checkout {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-checkout-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.book-checkout-title {
  margin-bottom: 16px;
}

.book-checkout-form-error {
  color: var(--form-error-msg);
}

.checkout-form-input-group {
  width: 100%;
  margin-bottom: 16px;
}

.book-checkout-input {
  width: 100%;
  height: 2.5rem;
  font-size: 1.15rem;
  padding-top: 2px;
  padding-left: 8px;
  background-color: var(--form-input-bg);
  border: 2px solid var(--form-input-bd);
  border-radius: 8px;
}

.book-checkout-input::placeholder {
  color: var(--form-input-placeholder-txt);
}

.book-checkout-input:focus {
  outline: none;
}

.book-checkout-button {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: var(--content-btn);
  border-radius: 8px;
  font-size: 1.25rem;
  margin: 16px 0;
}

.book-checkout-button:hover {
  cursor: pointer;
  background-color: var(--content-btn-hover);
}